<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap" rel="stylesheet">
    <title>insKru tagging helper</title>
</head>

<style>
    * {
        font-family: 'Bai Jamjuree', sans-serif;
    }

    .main {
        margin-top: 50px;
    }

    textarea {
        height: 32vh;
    }

    .badge {
        display: inline-flex;
        width: auto;
        padding: 8px 15px;
        font-size: 0.9em;
        border-radius: 25px;
        margin: 0 7px;
    }

    .logo {
        font-size: 0.4em;
    }

    .result {
        margin-top: 1em;
    }

    .tag {
        font-size: 0.8em;
    }
</style>

<body>
    <div class="container main">
        <div class="row">
            <h1>Tagging Helper <span class="logo">by insKru</span></h1>
        </div>
        <div class="row">
            <p>Fill the idea content and let the AI find the suitable tags for you! </p>
            <a class="btn btn-link" style="padding: 0; margin: 0 1em;" data-toggle="collapse" href="#apidocs"
                role="button" aria-expanded="false" aria-controls="apidocs">
                API doc
            </a>
        </div>
        <div class="row">
            <div class="collapse col" id="apidocs">
                <div class="card card-body" style="width: 100%;">
                    <p>Send a <code>POST</code> request with a JSON body. The schema is described below. The result
                        should
                        be an array of objects, each object contains <code>tag</code> and <code>score</code> ranged 0 to
                        1. Note that the <code>content</code> can be in HTML format.</p>
                    <p>Request</p>
                    <pre>
POST /api/getTags
{
    "title": string,
    "content": string
}</pre>
                    <p>Example Response</p>
                    <pre>
[{"tag": "วิทยาศาสตร์", "score": 0.2875840585310179}, {"tag": "เกมและกิจกรรม", "score": 0.20208380161743394}]</pre>
                </div>
            </div>
        </div>
        <br />
        <form>
            <div class="form-group">
                <label for="sampleTitle">Title</label>
                <input class="form-control" id="sampleTitle" value="พฤติกรรมสัตว์มหัศจรรย์..บนถุงผ้าของฉัน (https://inskru.com/idea/-MdftcvCyk9cLDwBFSDR)"
                    onfocus="this.select();">
            </div>
            <div class="form-group">
                <label for="sampleContent">Content</label>
                <textarea class="form-control" id="sampleContent" onfocus="this.select();">
    "ศึกษาสืบค้นพฤติกรรมของสัตว์ ที่นักเรียนสนใจ ถ่ายทอดเรื่องราวนำเสนอผ่านผลงานกับศิลปะบนถุงผ้า เป็นผลงานที่เด็กๆภูมิใจเพราะมันไม่เหมือนใครมีชิ้นเดียวในโลก.."

    "วิชาชีวะ มีแต่เรื่องต้องจำ จำ จำเยอะแยะไปหมด..."

    คำพูดดังกล่าว เป็นคำพูดที่ครูผู้สอนวิชาชีววิทยาอย่างฉัน เคยแอบได้ยินเด็กๆบ่นกัน ซึ่งเราในฐานะที่เคยเป็นนักเรียนมาก่อน ก็มีความเข้าใจเด็กๆในส่วนของเนื้อหาในรายวิชาชีววิทยาว่าเนื้อหามีลักษณะประเภทความจำ จำ ค่อนข้างเยอะ ทั้งจำคำศัพท์ที่เป็นภาษาอังกฤษทั้งจำเนื้อหา หากเรายัง สอนบรรยายเพียงอย่างเดียว อาจทำให้เด็กๆ มีความเบื่อกับวิชาชีวะขึ้นไปอีก ดังนั้น มาปลุกไฟในตัวครูให้ลุกมาคิดกิจกรรมสนุกๆ สอดแทรกสิ่งที่เด็กๆชอบไปกับการเรียนของพวกเขากันเถอะค่ะ
วันนี้จึงขอนำเสนอไอเดียการสอน ในหัวเรื่อง พฤติกรรมของสัตว์ โดยมีการทำกิจกรรมที่บูรณาการกับวิชาศิลปะ เพื่อให้เชื่อมโยงกับสิ่งที่เด็กๆชอบทำ ทำแล้วเกิดความผ่อนคลาย แสดงความรู้สึกอิสระในการนำเสนอผ่านภาพวาดและตัวหนังสือที่เขาออกแบบเอง โดยมีแนวทางดังนี้
เป้าหมาย : นักเรียนสามารถสืบค้น ศึกษาอธิบายเรื่องพฤติกรรมของสัตว์ที่เขาสนใจ อยากรู้ แล้วนักเรียนเลือกพฤติกรรมของสัตว์เรื่องนั้นมานำเสนอผ่านการวาดภาพอย่างสร้างสรรค์บนถุงผ้า
5 ขั้นตอนในการจัดการเรียนรู้ มาดูกันค่ะ
    STEP 1 : กระตุ้นให้คิด
        ครูผู้สอนใช้คำถามกระตุ้นให้นักเรียนเกิดความสนใจเพื่อนำเข้าบทเรียน เช่น พฤติกรรมของสัตว์ที่นักเรียนเคยเห็นมีอะไรบ้าง มีสาเหตุและกลไกการเกิดพฤติกรรมได้อย่างไร
    STEP 2 : สืบค้นเรียนรู้
        นักเรียนศึกษา สืบค้นจัดเตรียม หาข้อมูลจากแหล่งเรียนรู้ต่างๆ เกี่ยวกับพฤติกรรมของสัตว์ที่นักเรียนสงสัย และต้องการหาคำตอบ
    STEP 3 : แชร์ไอเดีย
        นักเรียนนำข้อมูลที่ค้นหามาได้ มาเสนอหัวข้อแก่ครูและเพื่อนๆฟัง เพื่อพูดคุยกันในห้องเรียน เช่น นักเรียนบางคนศึกษาในหัวข้อเรื่อง ทำไมไ่ก่ถึงชอบขันตอนเช้า ทำไมกิ้งกือถึงม้วนงอเวลาโดนสัมผัส นักเรียนก็จะไปค้นหาคำตอบเพื่อเตรียมข้อมูล
    STEP 4 : สร้างสรรค์ผลงาน
        นักเรียนเตรียมสี และเตรียมออกแบบวาดภาพ และนำเสนอข้อมูลผ่านการขีดเขียน ลงบนกระเป๋าผ้าดิบสีขาว ขนาด 7*10 นิ้ว ที่คุณครูนำมาแจกให้นักเรียนคนละ 1 ใบ
    STEP 5 : แลกเปลี่ยนร่วมกัน
        เมื่อนักเรียนทำผลงานเสร็จ ครูเปิดพื้นที่ให้ทุกคนได้ออกมานำเสนองานที่หน้าชั้นเรียน และแลกเปลี่ยนสนทนาร่วมกัน นักเรียนสามารถนำถุงผ้าฝีมือของตนเองนำไปไว้ใช้ใส่สิ่งของได้ หรืออยากแลกผลงานกับเพื่อนๆ ก็แล้วแต่นักเรียนเลยค่ะ
        สิ่งที่เกิดขึ้นจากกิจกรรมนี้ เด็กๆบางคนเริ่มรู้สึกว่าวิชาชีววิทยา เป็นวิชาที่ใกล้ตัวกับชีวิตพวกเขา เห็นได้จริงในชีวิตประจำวัน ในธรรมชาติรอบๆตัว เขาเลือกค้นหาความรู้จากเรื่องที่ชอบ แล้วนำมาผสมผสาน สร้างงานฝีมือด้านศิลปะที่พวกเขาชอบทำ มีการวาดภาพอย่างง่ายๆ มีอิสระในการสร้างสรรค์ผลงาน
        สุดท้ายเมื่อเด็กๆ มีความสุขในการเรียนรู้ ก็จะมีทัศนคติที่ดีต่อวิชาเรียนนั้นๆ เรียนรู้ด้วยกันผ่านกิจกรรมง่ายๆ เกิดผลงานที่ภาคภูมิใจ นักเรียนเกิดความสุข คุณครูก็หัวใจฟู มีความสุขไปพร้อมๆกัน.....
--ขอบคุณค่ะ--                    
                </textarea>
            </div>
            <!-- <div class="form-group">
                <label for="model">Model Selection</label>
                <select class="form-control" id="model">
                    <option value="tfidf_lr">TFIDF + LogisticRegression</option>
                </select>
            </div> -->
            <div class="row align-items-center">
                <div class="col-1">
                    <button class="btn btn-primary" type="button" value="Submit" onclick="sendRequest()">Submit</button>
                </div>
                <div class="col">
                    <div class="result-badge" id="badge-list"></div>
                </div>
            </div>
        </form>
        <div class="result" id="tag-list"></div>
    </div>
    <script>
        function sendRequest() {
            const title = document.getElementById("sampleTitle").value
            const content = document.getElementById("sampleContent").value
            var xmlhttp = new XMLHttpRequest()

            xmlhttp.open("POST", "/api/getTags")
            xmlhttp.setRequestHeader("Content-Type", "application/json")
            xmlhttp.send(JSON.stringify({ title, content }))

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                    const result = JSON.parse(xmlhttp.responseText)
                    let tags = ''
                    let badges = ''
                    for (let idx in result) {
                        score = Math.round(result[idx]["score"] * 100)
                        tags += `<div class="row align-items-center">
                                    <div class="col-1 tag">${result[idx]["tag"]}</div>
                                    <div class="col-4">
                                        <div class="progress" style="height: 6px;">
                                            <div class="progress-bar" role="progressbar" style="width: ${score}%" aria-valuenow="${score}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>`
                        badges += `<span class="badge badge-pill badge-secondary">${result[idx]["tag"]} | ${score / 100}</span>`
                    }
                    document.getElementById("tag-list").innerHTML = tags
                    document.getElementById("badge-list").innerHTML = badges
                }
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>