<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap" rel="stylesheet">
    <title>insKru tagging helper</title>
</head>

<style>
    * {
        font-family: 'Bai Jamjuree', sans-serif;
    }

    .main {
        margin-top: 50px;
    }

    textarea {
        height: 32vh;
    }

    .badge {
        display: inline-flex;
        width: auto;
        padding: 8px 15px;
        font-size: 0.9em;
        border-radius: 25px;
        margin: 0 7px;
    }

    .logo {
        font-size: 0.4em;
    }

    .result {
        margin-top: 1em;
    }

    .tag {
        font-size: 0.8em;
    }
</style>

<body>
    <div class="container main">
        <div class="row">
            <h1>Tagging Helper <span class="logo">by insKru</span></h1>
        </div>
        <div class="row">
            <p>Fill the idea content and let the AI find the suitable tags for you! </p>
            <a class="btn btn-link" style="padding: 0; margin: 0 1em;" data-toggle="collapse" href="#apidocs"
                role="button" aria-expanded="false" aria-controls="apidocs">
                API doc
            </a>
        </div>
        <div class="row">
            <div class="collapse col" id="apidocs">
                <div class="card card-body" style="width: 100%;">
                    <p>Send a <code>POST</code> request with a JSON body. The schema is described below. The result
                        should
                        be an array of objects, each object contains <code>tag</code> and <code>score</code> ranged 0 to
                        1. Note that the <code>content</code> can be in HTML format.</p>
                    <p>Request</p>
                    <pre>
POST /api/getTags
{
    "title": string,
    "content": string
}</pre>
                    <p>Example Response</p>
                    <pre>
[{"tag": "วิทยาศาสตร์", "score": 0.2875840585310179}, {"tag": "เกมและกิจกรรม", "score": 0.20208380161743394}]</pre>
                </div>
            </div>
        </div>
        <br />
        <form>
            <div class="form-group">
                <label for="sampleTitle">Title</label>
                <input class="form-control" id="sampleTitle" value="Google Lens เข้าใจโลกรอบตัว"
                    onfocus="this.select();">
            </div>
            <div class="form-group">
                <label for="sampleContent">Content</label>
                <textarea class="form-control" id="sampleContent" onfocus="this.select();">
            เด็กๆ ประถมจะรู้สึกตื่นเต้นมากๆ เมื่อคุณครูพาออกนอกห้องเรียน สิ่งต่างๆ ที่อยู่รอบตัวนั้นดูน่าสนใจไปหมด ทำให้มีคำถามต่างๆ มากมายที่อยากถามคุณครู มีคำถามหนึ่งที่จะพบเจอประจำเลย นั่นก็คือ "คุณครูคะ มันคืออะไรเหรอคะ มีชื่อว่าอะไรคะ" หากเป็นสิ่งที่คุณครูรู้จักล่ะก็ คุณครูตอบได้สบายมากหายห่วง แต่หากไม่รู้จักล่ะก็ งานยากเลยค่ะที่นี้ จะตอบนักเรียนยังไงดีนะ ไปถามใครดีนะ ซึ่งครูแพรวก็พบเจอปัญหานี้เหมือนกันค่ะ แต่ครูแพรวมีตัวช่วย นั่นคือ app "Google lens" ทำให้เด็กๆได้หาคำตอบด้วยตัวเอง เพียงแค่ถ่ายรูปแชะเดียวก็ได้คำตอบที่ต้องการแล้วค่ะ
            
            ในการเรียนเรื่องการจำแนกสิ่งมีชีวิต สิ่งแรกที่เด็กๆ ต้องทำคือ ออกไปสำรวจสิ่งมีชีวิตที่อยู่นอกห้องเรียน แน่นอนว่าเมื่อออกจากห้องเรียนปุ๊บ เด็กๆ ก็ตื่นเต้นกันใหญ่ ตะโกนเรียกกันให้มาดูสิ่งที่เจอบ้าง ชี้ให้เพื่อนดูบ้าง สงสัยแล้ววิ่งมาถามครูแพรวบ้างว่ามันชื่อว่าอะไรคะ และแล้วก็ถึงเวลาที่ "Google lens" ออกโรง ครูแพรวได้บอกกับเด็กๆ ว่า มีสิ่งหนึ่งที่สามารถบอกเด็กๆ ได้ ว่าสิ่งที่เด็กๆ เจอ คืออะไร และชื่อว่าอะไร โดยไม่ต้องวิ่งมาถามครูแพรวเลย เด็กๆ ก็เกิดความสนใจทันที ครูแพรวก็เลยสาธิตการใช้ Google lens หากเด็กๆ อยากรู้ว่าเป็นดอกไม้ต้นไม้ชนิดไหน เข้า app นี้ ถ่ายรูปแล้วเลื่อนขึ้นมีจะมีข้อมูลชื่อดอกไม้ต้นไม้ที่เราอยากรู้ขึ้นมาทันที ทีนี้ล่ะค่ะ ไม่สนใจคุณครูแล้ว รีบเดิน รีบวิ่ง ไปใช้ Google lens กันใหญ่
            
            เมื่อสำรวจสิ่งมีชีวิตเสร็จแล้ว จากนั้นก็จำแนกสิ่งมีชีวิตออกเป็นกลุ่มว่า สิ่งมีชีวิตที่เด็กๆ พบเจอนั้นจำแนกเป็นกลุ่มอะไรได้บ้าง โดยใช้การสร้างอาหารซึ่ง สังเกตจากการมีใบสีเขียวและการเคลื่อนที่เป็นเกณฑ์ ได้ทั้งความสนุกและความรู้ไปพร้อมๆ กันเลยค่ะ
            
            Credit: https://inskru.com/idea/-MdLuCXijR7esNudWtIE
                </textarea>
            </div>
            <!-- <div class="form-group">
                <label for="model">Model Selection</label>
                <select class="form-control" id="model">
                    <option value="tfidf_lr">TFIDF + LogisticRegression</option>
                </select>
            </div> -->
            <div class="row align-items-center">
                <div class="col-1">
                    <button class="btn btn-primary" type="button" value="Submit" onclick="sendRequest()">Submit</button>
                </div>
                <div class="col">
                    <div class="result-badge" id="badge-list"></div>
                </div>
            </div>
        </form>
        <div class="result" id="tag-list"></div>
    </div>
    <script>
        function sendRequest() {
            const title = document.getElementById("sampleTitle").value
            const content = document.getElementById("sampleContent").value
            var xmlhttp = new XMLHttpRequest()

            xmlhttp.open("POST", "/api/getTags")
            xmlhttp.setRequestHeader("Content-Type", "application/json")
            xmlhttp.send(JSON.stringify({ title, content }))

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                    const result = JSON.parse(xmlhttp.responseText)
                    let tags = ''
                    let badges = ''
                    for (let idx in result) {
                        score = Math.round(result[idx]["score"] * 100)
                        tags += `<div class="row align-items-center">
                                    <div class="col-1 tag">${result[idx]["tag"]}</div>
                                    <div class="col-4">
                                        <div class="progress" style="height: 6px;">
                                            <div class="progress-bar" role="progressbar" style="width: ${score}%" aria-valuenow="${score}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>`
                        badges += `<span class="badge badge-pill badge-secondary">${result[idx]["tag"]} | ${score / 100}</span>`
                    }
                    document.getElementById("tag-list").innerHTML = tags
                    document.getElementById("badge-list").innerHTML = badges
                }
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>